<a href="https://colab.research.google.com/github/wellingtonmatosc/Estudos/blob/main/Listaspy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lista

In [ ]:
# Lista aleatória
lst1 = ["ana", "maria", "mariana", 9955, 5599, 5995 ,True, "9559", False]

In [ ]:
# Print da lista
print(lst1)

['ana', 'maria', 'mariana', 9955, 5599, 5995, True, '9559', False]

In [ ]:
# Acessar iten na lista
print(lst1[2])

mariana

In [ ]:
# Acessar ultimo iten na lista
print(lst1[-1])

False

In [ ]:
# Quantiddade de itens na lista
print(len(lst1))

9

In [ ]:
# Tipo da lista
print(type(lst1))

<class 'list'>

In [ ]:
# Acessar intervalo da lista
print(lst1[2:7])

# Intervalo do primeiro índice até o 7
print(lst1[:7])

# Intervalo do índice 2 até o último
print(lst1[2:])

['mariana', 9955, 5599, 5995, True]
['ana', 'maria', 'mariana', 9955, 5599, 5995, True]
['mariana', 9955, 5599, 5995, True, '9559', False]

In [ ]:
# Verificar se o item está na lista
if 5599 in lst1:
  print("item encontrado")
else:
  print("item não encontrado")

item não encontrado

In [ ]:
# Alterar item da lista
lst1[4] = "beterraba"

print(lst1[4])
print(lst1)

beterraba
['ana', 'maria', 'mariana', 9955, 'beterraba', 5995, True, '9559', False]

In [ ]:
# Alterar um intervalo de itens em uma lista
lst1[2:3] = ["lima", "mouse"]

print(lst1[2:4])
print(lst1)

['lima', 'mouse']
['ana', 'maria', 'lima', 'mouse', 9955, 'beterraba', 5995, True, '9559', False]

In [ ]:
# Alterar um intervalo de itens em uma lista com itens a mais
lst1[2:3] = ["lima", "mouse", "panda", "morcego"]

print(lst1[2:4])
print(lst1)

['lima', 'mouse']
['ana', 'maria', 'lima', 'mouse', 'panda', 'morcego', 'mouse', 9955, 'beterraba', 5995, True, '9559', False]

In [ ]:
tlst1 = list(("maça", "caju", "manga"))
print(tlst1)

['maça', 'caju', 'manga']

In [ ]:
# Alterar um intervalo de itens em uma lista a menos
lst1[2:4] = ["suco"]

print(lst1[2:4])
print(lst1)

['suco', 'panda']
['ana', 'maria', 'suco', 'panda', 'morcego', 'mouse', 9955, 'beterraba', 5995, True, '9559', False]

In [ ]:
# Inserir novo item na lista sem alterar
lst1.insert(5, "feijoada")

print(lst1[5])
print(lst1)

feijoada
['ana', 'maria', 'mariana', 9955, 5599, 'feijoada', 5995, True, '9559', False]

In [ ]:
# Inserir novo item no final da lista
lst1.append("Computador")

print(lst1[-1])
print(lst1)

Computador
['ana', 'maria', 'mariana', 9955, 5599, 'feijoada', 5995, True, '9559', False, 'Computador']

In [ ]:
# Inserir itens de uma lista em outra lista
lst2 = ["garrafa", "copo", "jarra"]
lst3 = ["celular", "TV", "radio"]

print(lst2)
print(lst3)

lst2.extend(lst3)

print(lst2)

['garrafa', 'copo', 'jarra']
['celular', 'TV', 'radio']
['garrafa', 'copo', 'jarra', 'celular', 'TV', 'radio']

In [ ]:
# Inserir itens de uma tupla em uma lista
tupla1 = ("mesa", "cadeira")

print(tupla1)

lst2.extend(tupla1)

print(lst2)

('mesa', 'cadeira')
['garrafa', 'copo', 'jarra', 'celular', 'TV', 'radio', 'mesa', 'cadeira']

In [ ]:
# Remover item edpecifico da lista
lst2.remove("jarra")

print(lst2)

['garrafa', 'copo', 'celular', 'TV', 'radio', 'mesa', 'cadeira']

In [ ]:
# Remover índice edpecifico da lista
lst2.pop(1)

# também funciona com .del(1)

print(lst2)

['garrafa', 'celular', 'TV', 'radio', 'mesa', 'cadeira']

In [ ]:
# Remover último item da lista
lst2.pop()

# também funciona com .pop(-1)

print(lst2)

['garrafa', 'copo', 'jarra', 'celular', 'TV', 'radio']

In [ ]:
# Apaga a lista completa
del lst2

In [ ]:
# Esvazia a lista
lst3.clear()

print(lst3)

[]

In [ ]:
# Imprimir itens da lista um por um com loop
for x in lst1:
  print(x)

ana
maria
mariana
9955
5599
feijoada
5995
True
9559
False
Computador

In [ ]:
# imprime itens da lista a partir do tamanho da lista
for i in range(len(lst1)):
  print(lst1[i])

ana
maria
mariana
9955
5599
feijoada
5995
True
9559
False
Computador

In [ ]:
# Imprimir itens da lista usando while
i = 0
while i < len(lst1):
  print(lst1[i])
  i += 1

ana
maria
mariana
9955
5599
feijoada
5995
True
9559
False
Computador

In [ ]:
# Imprime a lista usando compreensão de lista
[print(x) for x in lst1]

ana
maria
mariana
9955
5599
feijoada
5995
True
9559
False
Computador

[None, None, None, None, None, None, None, None, None, None, None]

In [16]:
lstfruta = ["abacate", "banana", "maça", "uva", "goiaba", "acerola", "maracujá", "moto", "copo"]
novalista = []

print(lstfruta)

for x in lstfruta:
  novalista.append(x)

print(novalista)

novalistafruta = lstfruta

['abacate', 'banana', 'maça', 'uva', 'goiaba', 'acerola', 'maracujá', 'moto', 'copo']
['abacate', 'banana', 'maça', 'uva', 'goiaba', 'acerola', 'maracujá', 'moto', 'copo']

In [8]:
# Compreensão de lista com condição
novalista = [x for x in lstfruta if "a" in x]

print(novalista)

# novalista = [expressão for item in interavel if Condição == True]
#O valor retornado é uma nova lista, deixando a lista antiga inalterada.

['abacate', 'banana', 'maça', 'uva', 'goiaba', 'acerola', 'maracujá']

In [9]:
# Compreensão de lista com condição
novalista = [x for x in lstfruta if x != "maça"]

print(novalista)

['abacate', 'banana', 'uva', 'goiaba', 'acerola', 'maracujá', 'moto', 'copo']

In [14]:
novalista = [x for x in range(10)]

print(novalista)

novalista = [x for x in range(10) if x < 5]

print(novalista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]

In [18]:
# Definir os itens da nova lista em maiúsculas
novalistafrutas = [x.upper() for x in novalistafruta]

print(novalistafrutas)

novalistafrutas = ["olá" for x in novalistafruta]

print(novalistafrutas)

['ABACATE', 'BANANA', 'MAÇA', 'UVA', 'GOIABA', 'ACEROLA', 'MARACUJÁ', 'MOTO', 'COPO']
['olá', 'olá', 'olá', 'olá', 'olá', 'olá', 'olá', 'olá', 'olá']

In [20]:
# Condição para manipular itens da lista
novalistafrutas = [x if x != "banana" else "goiaba" for x in novalistafruta]

print(novalistafrutas)

# A expressão no exemplo acima diz:
# "Devolva o produto se não for banana; se for banana, devolva a laranja."

['abacate', 'goiaba', 'maça', 'uva', 'goiaba', 'acerola', 'maracujá', 'moto', 'copo']

In [21]:
# Ordenar lista alfanumérica sort()
listaord = ["Laranja", "Morango", "Limão", "Caju", "Maracujá", "Abacaxi"]
print(listaord)

listaord.sort()
print(listaord)

['Laranja', 'Morango', 'Limão', 'Caju', 'Maracujá', 'Abacaxi']
['Abacaxi', 'Caju', 'Laranja', 'Limão', 'Maracujá', 'Morango']

In [22]:
# Ordenar lista alfanumérica sort()
listaordn = [100, 50, 25, 35, 10, 582, 12, 32]
print(listaordn)

listaordn.sort()
print(listaordn)

[100, 50, 25, 35, 10, 582, 12, 32]
[10, 12, 25, 32, 35, 50, 100, 582]

In [23]:
# Ordenar lista em ordem decrescente reverse = true
print(listaord)

listaord.sort(reverse=True)
print(listaord)

['Abacaxi', 'Caju', 'Laranja', 'Limão', 'Maracujá', 'Morango']
['Morango', 'Maracujá', 'Limão', 'Laranja', 'Caju', 'Abacaxi']

In [24]:
# Ordenar lista em ordem decrescente reverse = true
print(listaordn)

listaordn.sort(reverse=True)
print(listaordn)

[10, 12, 25, 32, 35, 50, 100, 582]
[582, 100, 50, 35, 32, 25, 12, 10]

In [25]:
def minhafuncao(n):
  return abs(n - 50)

listaordn.sort(key=minhafuncao)
print(listaordn)

[50, 35, 32, 25, 12, 10, 100, 582]

In [27]:
# A classificação que diferencia maiúsculas de minúsculas pode gerar um resultado inesperado
listaord = ["Laranja", "Morango", "limão", "caju", "maracujá", "Abacaxi"]
print(listaord)

listaord.sort()
print(listaord)

['Laranja', 'Morango', 'limão', 'caju', 'maracujá', 'Abacaxi']
['Abacaxi', 'Laranja', 'Morango', 'caju', 'limão', 'maracujá']

In [28]:
# Realiza uma ordenação da lista que ignore maiúsculas e minúsculas com str.lower
listaord.sort()
print(listaord)

listaord.sort(key=str.lower)
print(listaord)

['Abacaxi', 'Laranja', 'Morango', 'caju', 'limão', 'maracujá']
['Abacaxi', 'caju', 'Laranja', 'limão', 'maracujá', 'Morango']

In [31]:
# Inverta a ordem dos itens da lista independente da ordem alfabética
listaord = ["Laranja", "Morango", "limão", "caju", "maracujá", "Abacaxi"]
print(listaord)

listaord.reverse()
print(listaord)

['Laranja', 'Morango', 'limão', 'caju', 'maracujá', 'Abacaxi']
['Abacaxi', 'maracujá', 'caju', 'limão', 'Morango', 'Laranja']

In [34]:
# lista2 = lista1 não gera uma cópia, mas sim um novo ponteiro para a mesma lista
# Use lista1.copy() para criar um objeto independente."
lista1 = [10, 20, 30]
lista2 = [40, 50, 60]

print(lista1)
print(lista2)

lista2 = lista1

print(lista1)
print(lista2)

lista1 = [10, 20, 30, 70, 80, 90]

print(lista1)
print(lista2)

[10, 20, 30]
[40, 50, 60]
[10, 20, 30]
[10, 20, 30]
[10, 20, 30, 70, 80, 90]
[10, 20, 30]

In [35]:
# Criar uma cópia da lista copy()
listaord = ["Laranja", "Morango", "limão", "caju", "maracujá", "Abacaxi"]
minhalista = listaord.copy()
print(minhalista)

['Laranja', 'Morango', 'limão', 'caju', 'maracujá', 'Abacaxi']

In [36]:
# Criar uma cópia da lista list()
minhalista = list(listaord)
print(minhalista)

['Laranja', 'Morango', 'limão', 'caju', 'maracujá', 'Abacaxi']

In [38]:
# Criar uma cópia da lista com o :operador (slice)
minhalista = listaord[:]
print(minhalista)

['Laranja', 'Morango', 'limão', 'caju', 'maracujá', 'Abacaxi']

In [40]:
# Unir ou concatenar duas ou mais listas usando o + operador
lista1 = ["a", "e", "i", "o", "u"]
lista2 = [1, 2, 3, 4, 5]

lista3 = lista1 + lista2

print(lista3)

['a', 'e', 'i', 'o', 'u', 1, 2, 3, 4, 5]

In [46]:
# Unir ou concatenar duas ou mais listas
# Adicionando todos os itens da lista2 a lista1 um por um
lista1 = ["a", "e", "i", "o", "u"]
lista2 = [1, 2, 3, 4, 5]

for x in lista2:
  lista1.append(x)

print(lista1)

['a', 'e', 'i', 'o', 'u', 1, 2, 3, 4, 5]

In [47]:
# Adicionar elementos de uma lista a outra lista usando extend()
lista1 = ["a", "e", "i", "o", "u"]
lista2 = [1, 2, 3, 4, 5]

lista1.extend(lista2)
print(lista1)

['a', 'e', 'i', 'o', 'u', 1, 2, 3, 4, 5]

append() -> Adiciona um elemento ao final da lista.

clear()  -> Remove todos os elementos da lista.

copy()   -> Retorna uma cópia da lista.

count()  -> Retorna o número de elementos com o valor especificado.

extend() -> Adiciona os elementos de uma lista (ou qualquer iterável) ao final da lista atual.

index()  -> Retorna o índice do primeiro elemento com o valor especificado.

insert() -> Adiciona um elemento em uma posição específica.

pop()    -> Remove o elemento em uma posição específica (ou o último, por padrão).

remove()  -> Remove o item com o valor especificado.

reverse() -> Inverte a ordem da lista.

sort()    -> Ordena a lista.