<a href="https://colab.research.google.com/github/wellingtonmatosc/Estudos/blob/main/sets(conjuntos)py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

set ou conjuntos

Um conjunto(set) é uma coleção que não é ordenada, imutável e não indexada

Os itens definidos não podem ser alterados, mas você pode remover itens e adicionar novos itens

Os conjuntos são escritos com chaves

In [33]:
conjunto1 = {"maça", "banana", "laranja"}
print(conjunto1)

{'banana', 'laranja', 'maça'}

Os conjuntos não estão ordenados, portanto, não é possível garantir a ordem em que os itens aparecerão

Os itens do conjunto não são ordenados, não podem ser alterados e não permitem valores duplicados

In [34]:
# Não são permitidas duplicatas
# Valores duplicados serão ignorados
conjunto2 = {"maça", "banana", "laranja", "banana"}
print(conjunto1)

# Os valores True e 1são considerados o mesmo valor em conjuntos e são tratados como duplicados
conjunto2 = {"maça", "banana", "laranja", "banana", True, 1, 2}
print(conjunto2)

# Os valores False e 0são considerados o mesmo valor em conjuntos e são tratados como duplicados
conjunto3 = {"maça", "banana", "laranja", "banana", False, 1, 0}
print(conjunto3)

{'banana', 'laranja', 'maça'}
{True, 2, 'maça', 'banana', 'laranja'}
{False, 1, 'maça', 'banana', 'laranja'}

Os itens do conjunto podem ser de qualquer tipo de dados

In [35]:
conjunto1 = {"maçã", "banana", "limão"}
conjunto2 = {1, 5, 7, 9, 3}
conjunto3 = {True, False, False}

print(conjunto1)
print(conjunto2)
print(conjunto3)

{'banana', 'limão', 'maçã'}
{1, 3, 5, 7, 9}
{False, True}

In [36]:
# Um conjunto pode conter diferentes tipos de dados
conjunto1 = {"maçã", "banana", 1, 5, 7, 9, False, True}
print(conjunto1)

{False, 1, 5, 7, 'banana', 9, 'maçã'}

In [37]:
# Tipo de dados do conjunto
print(type(conjunto1))

<class 'set'>

Não é possível acessar itens em um conjunto referenciando um índice ou uma chave

Mas você pode percorrer os itens do conjunto usando um for loop, ou verificar se um valor específico está presente em um conjunto, usando a in

In [38]:
# Percorra o conjunto e imprime os valores
for x in conjunto1:
  print(x)

False
1
5
7
banana
9
maçã

In [39]:
# Verificar item no conjunto
print("maçã" in conjunto1)
print("maca" in conjunto1)

print("banana" not in conjunto1)
print("banan" not in conjunto1)

True
False
False
True

Uma vez criado um conjunto, você não pode alterar seus itens, mas pode adicionar novos itens.

Para adicionar um item a um conjunto, utilize o add()

In [40]:
conjunto1.add("melancia")
print(conjunto1)

{False, 1, 'melancia', 5, 7, 'banana', 9, 'maçã'}

Para adicionar itens de outro conjunto ao conjunto atual, use o update()

In [41]:
conjunto1 = {"pera", "melancia", "goiaba"}
conjunto2 = {"carro", "moto", "avião"}

print(conjunto1)
print(conjunto2)

conjunto1.update(conjunto2)

print(conjunto1)

{'melancia', 'pera', 'goiaba'}
{'carro', 'avião', 'moto'}
{'melancia', 'carro', 'avião', 'moto', 'pera', 'goiaba'}

O objeto no update() não precisa ser um conjunto, pode ser qualquer objeto iterável (tuplas, listas, dicionários etc.)

Para remover um item de um conjunto, use o método remove() ou o discard()

In [42]:
conjunto1.remove("goiaba")
print(conjunto1)

#Se o item a ser removido não existir, remove()ocorrerá um erro

{'melancia', 'carro', 'avião', 'moto', 'pera'}

Você também pode usar esse pop() para remover um item, mas ele removerá um item aleatório, então você não pode ter certeza de qual item será removido.

In [43]:
print(conjunto1)

cinjunto2 = conjunto1.pop()

print(conjunto2)
print(conjunto1)

{'melancia', 'carro', 'avião', 'moto', 'pera'}
{'carro', 'avião', 'moto'}
{'carro', 'avião', 'moto', 'pera'}

O clear() esvazia o conjunto

In [44]:
conjunto3 = {"pera", "melancia", "goiaba", "carro", "moto", "avião"}
print(conjunto3)

conjunto3.clear()
print(conjunto3)

{'carro', 'melancia', 'avião', 'moto', 'pera', 'goiaba'}
set()

A del apagará o conjunto completamente

In [45]:
conjunto3 = {"pera", "melancia", "goiaba", "carro", "moto", "avião"}
print(conjunto3)

del conjunto3
# print(conjunto3) # Remover esta linha, pois 'conjunto3' foi deletado e causaria um NameError.

{'carro', 'melancia', 'avião', 'moto', 'pera', 'goiaba'}

Você pode percorrer os itens definidos usando um for

In [46]:
for x in conjunto1:
  print(x)

carro
avião
moto
pera

Existem diversas maneiras de unir dois ou mais conjuntos em Python

In [47]:
  conjunto1 = {"banana", "maçã", "laranja", "banana", "limão"}
  conjunto2 = {"melancia", "laranja", "limão", "uva", "mamão"}

  conjunto4 = {1, 2, 3, 2, 1}
  conjunto5 = {4, 5, 6, 2, 1}

O método union() e update() combina todos os itens de ambos os conjuntos

In [48]:
# Método union()
print(conjunto1)
print(conjunto2)

conjunto3 = conjunto1.union(conjunto2)
print(conjunto3)

{'banana', 'laranja', 'limão', 'maçã'}
{'melancia', 'uva', 'limão', 'mamão', 'laranja'}
{'laranja', 'maçã', 'melancia', 'limão', 'uva', 'mamão', 'banana'}

In [49]:
# Você pode usar o | em vez do union() e obterá o mesmo resultado
print(conjunto1)
print(conjunto2)

conjunto3 = conjunto1 | conjunto2
print(conjunto3)

{'banana', 'laranja', 'limão', 'maçã'}
{'melancia', 'uva', 'limão', 'mamão', 'laranja'}
{'laranja', 'maçã', 'melancia', 'limão', 'uva', 'mamão', 'banana'}

In [50]:
# Unir vários conjuntos com o union()
print(conjunto1)
print(conjunto2)
print(conjunto4)
print(conjunto5)

conjunto3 = conjunto1.union(conjunto2, conjunto4, conjunto5)
print(conjunto3)

{'banana', 'laranja', 'limão', 'maçã'}
{'melancia', 'uva', 'limão', 'mamão', 'laranja'}
{1, 2, 3}
{1, 2, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 'laranja', 'maçã', 'melancia', 'limão', 'uva', 'mamão', 'banana'}

In [51]:
# Utilizado |para unir dois conjuntos
print(conjunto1)
print(conjunto2)
print(conjunto4)
print(conjunto5)

conjunto3 = conjunto1 | conjunto2 | conjunto4 | conjunto5
print(conjunto3)

{'banana', 'laranja', 'limão', 'maçã'}
{'melancia', 'uva', 'limão', 'mamão', 'laranja'}
{1, 2, 3}
{1, 2, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 'laranja', 'maçã', 'melancia', 'limão', 'uva', 'mamão', 'banana'}

O update() insere todos os itens de um conjunto em outro

In [52]:
conjunto4.update(conjunto5)
print(conjunto4)

# Ambos union() e update() excluirão quaisquer itens duplicados

{1, 2, 3, 4, 5, 6}

O intersection() mantém APENAS os duplicados

O intersection() retornará um novo conjunto, que conterá apenas os itens presentes em ambos os conjuntos

In [53]:
print(conjunto1)
print(conjunto2)

conjunto3 = conjunto1.intersection(conjunto2)
print(conjunto3)

{'banana', 'laranja', 'limão', 'maçã'}
{'melancia', 'uva', 'limão', 'mamão', 'laranja'}
{'laranja', 'limão'}

Você pode usar o & em vez do método e obterá o mesmo resultado

In [54]:
print(conjunto1)
print(conjunto2)

conjunto3 = conjunto1 & conjunto2
print(conjunto3)

{'banana', 'laranja', 'limão', 'maçã'}
{'melancia', 'uva', 'limão', 'mamão', 'laranja'}
{'laranja', 'limão'}

O intersection_update() também manterá APENAS os duplicados, mas alterará o conjunto original em vez de retornar um novo conjunto

In [55]:
conjunto4 = {10, 20, 30, 40, 50}
conjunto5 = {40, 50, 60, 70, 80}

print(conjunto4)
print(conjunto5)

conjunto4.intersection_update(conjunto5)

print(conjunto4)

{50, 20, 40, 10, 30}
{80, 50, 70, 40, 60}
{40, 50}

O difference() mantém os itens do primeiro conjunto que não estão presentes nos outros conjuntos

O método retornará um novo conjunto que conterá apenas os itens do primeiro conjunto que não estão presentes no outro conjunto

In [56]:
conjunto4 = {10, 20, 30, 40, 50}
conjunto5 = {40, 50, 60, 70, 80}

print(conjunto4)
print(conjunto5)

conjunto3 = conjunto4.difference(conjunto5)

print(conjunto3)

{50, 20, 40, 10, 30}
{80, 50, 70, 40, 60}
{10, 20, 30}

Você pode usar o - em vez do método e obterá o mesmo resultado

In [57]:
conjunto4 = {10, 20, 30, 40, 50}
conjunto5 = {40, 50, 60, 70, 80}

print(conjunto4)
print(conjunto5)

conjunto3 = conjunto4 - conjunto5

print(conjunto3)

{50, 20, 40, 10, 30}
{80, 50, 70, 40, 60}
{10, 20, 30}

O difference_update() manterá os itens do primeiro conjunto que não estão no outro conjunto, mas modificará o conjunto original em vez de retornar um novo conjunto

In [58]:
conjunto4 = {10, 20, 30, 40, 50}
conjunto5 = {40, 50, 60, 70, 80}

print(conjunto4)
print(conjunto5)

conjunto4.difference_update(conjunto5)

print(conjunto4)

{50, 20, 40, 10, 30}
{80, 50, 70, 40, 60}
{20, 10, 30}

O symmetric_difference() mantém todos os itens, EXCETO os duplicados

O symmetric_difference() manterá apenas os elementos que NÃO estão presentes em ambos os conjuntos

In [59]:
conjunto4 = {10, 20, 30, 40, 50}
conjunto5 = {40, 50, 60, 70, 80}

print(conjunto4)
print(conjunto5)

conjunto3 = conjunto4.symmetric_difference(conjunto5)

print(conjunto3)

{50, 20, 40, 10, 30}
{80, 50, 70, 40, 60}
{80, 20, 70, 10, 60, 30}

Você pode usar o ^ em vez do método e obterá o mesmo resultado

In [60]:
conjunto4 = {10, 20, 30, 40, 50}
conjunto5 = {40, 50, 60, 70, 80}

print(conjunto4)
print(conjunto5)

conjunto3 = conjunto4 ^ conjunto5

print(conjunto3)

{50, 20, 40, 10, 30}
{80, 50, 70, 40, 60}
{80, 20, 70, 10, 60, 30}

O symmetric_difference_update() também manterá todos os itens, exceto os duplicados, mas modificará o conjunto original em vez de retornar um novo conjunto

In [61]:
conjunto4 = {10, 20, 30, 40, 50}
conjunto5 = {40, 50, 60, 70, 80}

print(conjunto4)
print(conjunto5)

conjunto4.symmetric_difference_update(conjunto5)

print(conjunto4)

{50, 20, 40, 10, 30}
{80, 50, 70, 40, 60}
{80, 20, 70, 10, 60, 30}

frozenset É uma versão imutável de um conjunto

Assim como os conjuntos, ele contém elementos únicos, não ordenados e imutáveis

Diferentemente dos conjuntos (sets), elementos não podem ser adicionados ou removidos de um frozenset

In [62]:
x = frozenset({"maçã","melancia","uva"})
print(x)
print(type(x))

frozenset({'melancia', 'uva', 'maçã'})
<class 'frozenset'>

Ser imutável significa que você não pode adicionar ou remover elementos. No entanto, conjuntos congelados suportam todas as operações não mutáveis ​​de conjuntos

Método ----- Operador ----- Descrição

copy() 	Retorna uma cópia superficial (shallow copy) do frozenset.

difference()	-	Retorna um novo frozenset com a diferença entre os conjuntos.

intersection()	&	Retorna um novo frozenset com a interseção (elementos em comum).

isdisjoint()		Retorna True se os dois conjuntos não possuírem nenhum elemento em comum.

issubset()	<= / <	Retorna True se o frozenset for um subconjunto (ou subconjunto próprio) de outro.

issuperset()	>= / >	Retorna True se o frozenset for um superconjunto (ou superconjunto próprio) de outro.

symmetric_difference()	^	Retorna um novo frozenset com a diferença simétrica (elementos que não estão em ambos).

union()	|	Retorna um novo frozenset contendo a união de todos os elementos.

Python possui um conjunto de métodos integrados que você pode usar em conjuntos

add() Adiciona um elemento ao conjunto.

clear() Remove todos os elementos do conjunto.

copy() Retorna uma cópia do conjunto.

difference() - Retorna um novo conjunto com a diferença entre dois ou mais conjuntos.

difference_update() -= Remove do conjunto original os itens que também estão presentes em outro conjunto especificado.

discard() Remove o item especificado (não gera erro se o item não existir).

intersection() & Retorna um novo conjunto que é a interseção de dois ou mais conjuntos.

intersection_update() &= Remove os itens deste conjunto que não estão presentes no(s) outro(s) conjunto(s).

isdisjoint() Retorna se dois conjuntos têm uma interseção ou não (True/False).

issubset() <= Retorna True se todos os itens deste conjunto estiverem presentes no outro conjunto.
< Retorna True se for um subconjunto próprio (contido em um conjunto maior).

issuperset() >= Retorna True se todos os itens de outro conjunto estiverem presentes neste conjunto.
> Retorna True se for um superconjunto próprio (contém um conjunto menor).

pop() Remove e retorna um elemento aleatório do conjunto.

remove() Remove o elemento especificado (gera erro se o item não existir).

symmetric_difference() ^ Retorna um conjunto com as diferenças simétricas de dois conjuntos.

symmetric_difference_update() ^= Atualiza o conjunto original com as diferenças simétricas entre ele e outro.

union() | Retorna um novo conjunto contendo a união de vários conjuntos.

update() |=  Atualiza o conjunto atual com a união entre ele e outros.

Métodos que terminam em _update modificam o conjunto original diretamente em vez de retornar um novo.

discard() vs remove(): Use discard() se você não quer que seu código pare caso o item que você está tentando deletar não exista no conjunto.