<a href="https://colab.research.google.com/github/wellingtonmatosc/Estudos/blob/main/Tuplaspy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuplas

In [5]:
# Tupla aleatória
# Uma tupla é uma coleção ordenada, imutável e permite valores duplicados
# As tuplas são escritas com parênteses
tupla1 = ("maçã", "morango", "laranja", "abacate")
print(tupla1)

('maçã', 'morango', 'laranja', 'abacate')

Quando dizemos que as tuplas são ordenadas, significa que os itens têm uma ordem definida e que essa ordem não mudará.

As tuplas são imutáveis, o que significa que não podemos alterar, adicionar ou remover itens depois que a tupla tiver sido criada.

Como as tuplas são indexadas, elas podem conter itens com o mesmo valor

In [7]:
# Imprimir o número de itens na tupla
print(len(tupla1))

4

In [12]:
# Criar tupla com apenas um ítem
tupla1 = ("maçã")
print(type(tupla1))

# Para criar uma tupla com apenas um item, você precisa adicionar uma vírgula após o item
# Caso contrário, o Python não a reconhecerá como uma tupla.
tupla1 = ("maçã",)
print(type(tupla1))

<class 'str'>
<class 'tuple'>

In [13]:
# Os itens da tupla podem ser de qualquer tipo de dado
tupla1 = ("carro", "moto", "barco")
tupla2 = (1, 2, 3, 4, 5)
tupla3 = (True, False, True, False)

print(tupla1)
print(tupla2)
print(tupla3)

('carro', 'moto', 'barco')
(1, 2, 3, 4, 5)
(True, False, True, False)

In [14]:
# Uma tupla pode conter diferentes tipos de dados
tupla1 = ("abc", 12, 34, True, False)

print(tupla1)

('abc', 12, 34, True, False)

Alterar valores da tupla

Uma vez criada, uma tupla não pode ser alterada em seus valores. Tuplas são imutáveis , ou inalteráveis, como também são chamadas.

Mas existe uma solução alternativa. Você pode converter a tupla em uma lista, modificar a lista e converter a lista de volta em uma tupla.

In [15]:
# Modificar item da tupla
tupla1 = ("maçã", "morango", "laranja", "abacate")
lista1 = list(tupla1)
lista1[1] = "goiaba"
tupla1 = tuple(lista1)

print(tupla1)

('maçã', 'goiaba', 'laranja', 'abacate')

In [16]:
# Adicionar item na tupla
lista1 = list(tupla1)
lista1.append("banana")
tupla1 = tuple(lista1)

print(tupla1)

('maçã', 'goiaba', 'laranja', 'abacate', 'banana')

In [18]:
# Adicionar tupla a outra tupla
tupla2 = ("vermelho",)
tupla1 += tupla2

print(tupla1)

('maçã', 'goiaba', 'laranja', 'abacate', 'banana', 'vermelho')

As tuplas são imutáveis, portanto você não pode remover itens delas, mas pode usar a mesma solução alternativa que usamos para alterar e adicionar itens à tupla

In [19]:
# Desempacotando uma tupla
frutas = ("maçã", "banana", "limão")
(vermelho, amarelo, verde) = frutas

print(vermelho)
print(amarelo)
print(verde)

maçã
banana
limão

count() ->	Retorna o número de vezes que um valor especificado ocorre na tupla.

index() ->	Procura na tupla por um valor especificado e retorna a posição (índice) onde ele foi encontrado.